.arvind {
    height: auto !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    label {
        font-weight: 500;
        font-size: 13px;
        color: #555;
        margin-left: 10px;
        cursor: pointer;
        user-select: none;
    }
}